.auth-bg {
    background: linear-gradient(135deg, #4f46e5, #06b6d4);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 14px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 15px 40px rgba(0,0,0,.2);
}
