/* CONTAINER */
.warta-page {
    padding-bottom: 60px;
}

/* CARD WARTA */
.warta-card {
    background: #cbbf6a;
    padding: 20px;
    border-radius: 18px;
    margin-bottom: 20px;
}

/* TAG TEMA */
.warta-tag {
    background: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
}

/* BUTTON */
.warta-btn {
    border-radius: 30px;
    padding: 8px 22px;
}
