.admin-sidebar {
    width: 260px;
    background: #eaeaea;
    min-height: 100vh;
}

.admin-sidebar .nav-link {
    color: #333;
    border-radius: 20px;
    padding: 8px 15px;
}

.admin-sidebar .nav-link.active,
.admin-sidebar .nav-link:hover {
    background: #4b5cff;
    color: #fff;
}

.logo-circle {
    width: 70px;
    height: 70px;
    background: #8cc9dc;
    border-radius: 50%;
    line-height: 70px;
    color: white;
}
